---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<BaseLayout>
  <section>
    <Wrapper variant="standard">
      <div class="relative">
        <Text
          tag="h3"
          variant="textXS"
          class="text-black uppercase font-medium font-display">Buttons</Text
        >
      </div>
    </Wrapper>
    <Wrapper variant="standard" class="py-12">
      <div class="flex flex-col gap-12">
        <div class="py-4">
          <Text
            tag="p"
            variant="textXS"
            class="text-black uppercase font-medium"
          >
            Default
          </Text>
          <div class="flex flex-wrap items-center gap-4 mt-2">
            <Button class="w-auto" size="xs" variant="default">Default XS</Button>
            <Button class="w-auto" size="sm" variant="default">Default SM</Button>
            <Button class="w-auto" size="base" variant="default"
              >Default Base</Button
            >
            <Button class="w-auto" size="md" variant="default">Default MD</Button>
            <Button class="w-auto" size="lg" variant="default">Default LG</Button>
            <Button class="w-auto" size="xl" variant="default">Default XL</Button>
          </div>
        </div>
        <div class="py-4">
          <Text
            tag="p"
            variant="textXS"
            class="text-black uppercase font-medium"
          >
            Accent
          </Text>
          <div class="flex flex-wrap items-center gap-4 mt-2">
            <Button class="w-auto" size="xs" variant="accent">Accent XS</Button>
            <Button class="w-auto" size="sm" variant="accent">Accent SM</Button>
            <Button class="w-auto" size="base" variant="accent">Accent Base</Button>
            <Button class="w-auto" size="md" variant="accent">Accent MD</Button>
            <Button class="w-auto" size="lg" variant="accent">Accent LG</Button>
            <Button class="w-auto" size="xl" variant="accent">Accent XL</Button>
          </div>
        </div>
        <div class="py-4">
          <Text
            tag="p"
            variant="textXS"
            class="text-black uppercase font-medium"
          >
            Muted
          </Text>
          <div class="flex flex-wrap items-center gap-4 mt-2">
            <Button class="w-auto" size="xs" variant="muted">Muted XS</Button>
            <Button class="w-auto" size="sm" variant="muted">Muted SM</Button>
            <Button class="w-auto" size="base" variant="muted">Muted Base</Button>
            <Button class="w-auto" size="md" variant="muted">Muted MD</Button>
            <Button class="w-auto" size="lg" variant="muted">Muted LG</Button>
            <Button class="w-auto" size="xl" variant="muted">Muted XL</Button>
          </div>
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
