---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Authors entries
import AuthorsEntries from "@/components/authors/AuthorsEntries.astro";
// Get all authors
import { getCollection } from "astro:content";
const allAuthors = await getCollection("authors");
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-24">
      <div class="max-w-3xl">
        <Text
          tag="h1"
          variant="displayMD"
          class="font-serif font-light leading-6 md:leading-8 text-base-500"
        >
          <span class="text-black">Meet the Authors and Hosts:</span> Discover the
          creative minds behind our blogs and podcasts. From sharing expert insights
          on design and development to exploring trends in technology and innovation,
          these voices bring knowledge, passion, and personality to every piece of
          content.
        </Text>
      </div>
    </Wrapper>
  </section>
  <section>
    <Wrapper variant="standard">
      <div
        class="grid border-t border-black pt-2 mt-4 grid-cols-1 md:grid-cols-4  gap-2"
      >
        {allAuthors.map((post) => <AuthorsEntries post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
