---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>

<section class="edge-alignment mx-auto pt-0.3 pb-1 mb-12">
  <div class="flex flex-col md:flex-row gap-8 md:gap-10 items-stretch">
    <div class="w-full md:w-[50%] flex-shrink-0 flex flex-col">
        <h1 class="text-medium font-serif mb-4">email</h1>
        <div class="max-w-none prose text-xs text-zinc-700">
            <p>
            arthursiyunl(at)gmail(dot)com
            </p>
        </div>
    </div>
    <div class="w-full md:w-[50%] flex-shrink-0 flex flex-col">
        <h1 class="text-medium font-serif mb-4">whatsapp</h1>
        <div class="max-w-none prose text-xs text-zinc-700">
            <p>
            +1 (347) 538-2174
            </p>
        </div>
    </div>
  </div>
</section>

</BaseLayout>