---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>

<section class="edge-alignment mx-auto pt-0.3 pb-1 mb-12">
  <div class="flex flex-col md:flex-row gap-8 md:gap-10 items-stretch">
    <div class="w-full md:w-[38%] flex-shrink-0 flex flex-col">
        <h1 class="text-medium font-serif mb-4">Chiyoko Szlavnics - <span class="italic">Constellations III</span> (2011)</h1>
        <div class="max-w-none prose text-xs text-zinc-700">
            <p>
            for piano and sinewaves
            </p>
            <p>
            Performed October 26th, 2024 at the Salle de l'Institut, Orléans, during the final phase of the 16th International Piano Competition of Orléans
            </p>
            <p>
            Terence Briand, electronics
            </p>
        </div>
    </div>
    <div class="w-full md:w-[62%] flex flex-col">
      <div class="relative pb-[56.25%] max-w-none">
          <iframe 
            width="100%" 
            height="400"
            src="https://www.youtube.com/embed/YZl2qJn8A-o"
            title="J. S. Bach - The Art of Fugue, BWV 1080: Contrapunctus XIV (Arthur Siyun Li)" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen
            loading="lazy" {/* Lazy loading */}
            class="absolute top-0 left-0 w-full h-full" {/* Fill container */}
          ></iframe>
        </div>
    </div>
  </div>
</section>

<section class="edge-alignment mx-auto pt-0.3 pb-1 mb-12 mt-6">
  <div class="flex flex-col md:flex-row gap-8 md:gap-10 items-stretch">
    <div class="w-full md:w-[38%] flex-shrink-0 flex flex-col">
        <h1 class="text-medium font-serif mb-4">J. S. Bach - <span class="italic">The Art of Fugue</span>, BWV 1080: Contrapunctus XIV (1742-1750)</h1>
        <div class="max-w-none prose text-xs text-zinc-700">
            <p>
            Performed May 11th, 2024 at He Luting Concert Hall, Shanghai Conservatory of Music, during the first phase of the 16th International Piano Competition of Orléans
            </p>
        </div>
    </div>
    <div class="w-full md:w-[62%] flex flex-col">
      <div class="relative pb-[56.25%] max-w-none">
          <iframe 
            width="100%" 
            height="400"
            src="https://www.youtube.com/embed/w_6jlu6Hme0"
            title="J. S. Bach - The Art of Fugue, BWV 1080: Contrapunctus XIV (Arthur Siyun Li)" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen
            loading="lazy" {/* Lazy loading */}
            class="absolute top-0 left-0 w-full h-full" {/* Fill container */}
          ></iframe>
        </div>
    </div>
  </div>
</section>

<section class="edge-alignment mx-auto pt-0.3 pb-1 mb-12 mt-6">
  <div class="flex flex-col md:flex-row gap-8 md:gap-10 items-stretch">
    <div class="w-full md:w-[38%] flex-shrink-0 flex flex-col">
        <h1 class="text-medium font-serif mb-4">Alfred Schnittke - <span class="italic">Concerto for Piano and Strings</span> (1979)</h1>
        <div class="max-w-none prose text-xs text-zinc-700">
            <p>
            Performed October 11th, 2023 at Neidorff-Karpati Hall, Manhattan School of Music
            <p>
            Concerto debut with Conductor David Chan, concertmaster of the Met, and OPUS130, as the winner of the 2023 Eisenberg-Fried Concerto Competition
            </p>
        </div>
    </div>
    <div class="w-full md:w-[62%] flex flex-col">
      <div class="relative pb-[56.25%] max-w-none">
          <iframe 
            width="100%" 
            height="400"
            src="https://www.youtube.com/embed/WEOTs3XCtn0"
            title="Alfred Schnittke - Concerto for Piano and Strings (Arthur Siyun Li)" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen
            loading="lazy" {/* Lazy loading */}
            class="absolute top-0 left-0 w-full h-full" {/* Fill container */}
          ></iframe>
        </div>
    </div>
  </div>
</section>

<section class="edge-alignment mx-auto pt-0.3 pb-1 mt-6">
  <div class="flex flex-col md:flex-row gap-8 md:gap-10 items-stretch">
    <div class="w-full md:w-[38%] flex-shrink-0 flex flex-col">
        <h1 class="text-medium font-serif mb-4">[composition] <span class="italic">The Year Has Flown By</span> (2022)</h1>
        <div class="max-w-none prose text-xs text-zinc-700">
            <p>
            Fragments After Haiku for Alto Flute (doubling Flute in C), Baritone, and Piano (Harlem, NY)
            </p>
            <p>
            Premiered April 18, 2022 at Ades Performance Space, Manhattan School of Music
            </p>
            <p>
            Savannah Mae Gentry, flutes <br> Gabriel Garcia, baritone <br> Arthur Siyun Li, piano
            </p>
        </div>
    </div>
    <div class="w-full md:w-[62%] flex flex-col">
      <div class="relative pb-[56.25%] max-w-none">
          <iframe 
            width="100%" 
            height="400"
            src="https://www.youtube.com/embed/-xVaQODX3ws"
            title="The Year Has Flown By" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen
            loading="lazy" {/* Lazy loading */}
            class="absolute top-0 left-0 w-full h-full" {/* Fill container */}
          ></iframe>
        </div>
    </div>
  </div>
</section>
</BaseLayout>