---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
<section class="edge-alignment mx-auto pt-0.3 pb-1">
  <div class="flex flex-col md:flex-row gap-8 md:gap-10 items-stretch">
    <div class="w-full md:w-[32%] flex-shrink-0 flex flex-col">
        <h1 class="text-medium font-serif mb-4">[composition] <span class="italic">The Year Has Flown By</span> (2022)</h1>
        <p class="text-sm text-zinc-700">
          Fragments After Haiku for Alto Flute (doubling Flute in C), Baritone, and Piano. Harlem, NY.
        </p>
    </div>
    <div class="w-full md:w-[68%] flex flex-col">
      <div class="aspect-w-16 aspect-h-9 max-w-none">
          <iframe 
            width="100%" 
            height="400"
            src="https://www.youtube.com/embed/-xVaQODX3ws"
            title="The Year Has Flown By" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen
            class="w-full"
          ></iframe>
        </div>
    </div>
  </div>
</section>
</BaseLayout>