---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>

<section class="edge-alignment mx-auto pt-0.3 pb-1 mb-12">
  <div class="flex flex-col md:flex-row gap-8 md:gap-10 items-stretch">
    <div class="w-full flex-shrink-0 flex flex-col">
        <div class="max-w-none prose justify-center text-xs text-zinc-700">
            <p>
            in construction (coming late 2025); thank you for your patience!
            </p>
        </div>
    </div>
  </div>
</section>