---
import "../styles/global.css";
import { AstroSeo } from "@astrolib/seo";
---

<AstroSeo
  title="Arthur Siyun Li"
  description="New-York based performer and composer."
  canonical="https://yoursite.com/current-page"
  openGraph={{
    url: "https://yoursite.com/current-page",
    title: "Your Page Title",
    description: "A detailed description of your page content.",
    images: [
      {
        url: "https://yoursite.com/og-image.jpg",
        width: 1200,
        height: 630,
        alt: "Open Graph Image Alt",
        type: "image/jpeg",
      },
    ],
    site_name: "Your Site Name",
    type: "website",
    locale: "en_US",
  }}
  twitter={{
    handle: "@yourhandle",
    site: "@yoursite",
    cardType: "summary_large_image",
  }}
/>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Basic Meta Tags -->
<title>Arthur Siyun Li</title>
<meta
  name="description"
  content="New York-based performer and composer."
/>
<meta name="keywords" content="keyword1, keyword2, keyword3" />
<meta name="author" content="Your Name or Company Name" />
<!-- Favicons -->
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="seayune" />
<link rel="manifest" href="/site.webmanifest" />
 
<!-- Alpine JS -->
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
