---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---
<section>
  <Wrapper variant="standard" class="pt-24">
    <div class="lg:col-span-2 max-w-3xl">
      <Text
        tag="h1"
        variant="displayMD"
        class="font-serif font-light leading-6 md:leading-8 text-base-500"
        >Shaping the Future of UI/UX and Web Development: Exploring Innovative
        Design, Advanced Engineering, and User-Centered Approaches for
        Transformative Digital Experiences.
      </Text>
    </div>
  </Wrapper>
</section>
