---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section class=" bg-white border-t border-black">
  <Wrapper
    variant="standard"
    class="py-12  lg:pt-48 flex flex-col  "
  >
    <Text
      tag="p"
      variant="displayXL"
      class="text-black  font-serif tracking-tight lg:text-balance font-light"
    >
      Subscribe to our newsletter to get the latest updates on our blog and
      podcasts.
    </Text>
    <form class="space-y-4 w-full mt-8  flex gap-2 items-baseline">
      <div class="w-full">
        <label for="email" class="sr-only"> Email Address </label>
        <input
          type="email"
          id="email"
          name="email"
          required
          class="w-full py-2 h-8 border-t-0 px-0 border-x-0 bg-transparent border-b border-black text-xs focus:outline-none focus:ring-2 focus:ring-base-500 focus:border-base-500 placeholder-black"
          placeholder="you@example.com"
        />
      </div>
      <button> &rarr; <span class="sr-only">Subscribe</span> </button>
    </form>
  </Wrapper>
</section>
