---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components

// Tags
import TagCategory from "@/components/blog/TagCategory.astro";
import { getCollection } from "astro:content";
export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}
const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <section>
    <Wrapper variant="standard">
      <Text tag="h1" variant="textXS" class="font-medium text-black uppercase">
        all our {tag}
        articles
      </Text>
    </Wrapper>
  </section>
  <section>
    <Wrapper variant="standard" class="pt-2 pb-12">
      <div class="flex gap-y-8 max-w-xs flex-col">
        {posts.map((post) => <TagCategory post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
