---
// Fundations
import BaseHead from "@/components/fundations/containers/BaseHead.astro";
// Components
import Footer from "@/components/global/Footer.astro";
import Navigation from "@/components/global/Navigation.astro";
---

<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body class="bg-white flex flex-col min-h-svh">
    <Navigation />
    <main class="grow  bg-white"><slot /></main>
    <Footer />
  </body>
</html>
