<section>
  <div class="p-8 text-zinc-700 text-xs flex flex-col w-full">
    <div class="max-w-2xl">
      <div>
        <h1 class="font-medium text-zinc-700 uppercase">Overview</h1>
      </div>
      <div class="prose-styles mt-6 grid grid-cols-2 sm:grid-cols-3 space-y-0">
        <div>
          <h2>Landing Pages</h2>
          <ul>
            <li>
              <a
                title="link to your page"
                aria-label="your label"
                href="/landings/landing-one">Landing one</a
              >
            </li>
            <li>
              <a
                title="link to your page"
                aria-label="your label"
                href="/landings/landing-two">Landing two</a
              >
            </li>
            <li>
              <a
                title="link to your page"
                aria-label="your label"
                href="/landings/landing-three">Landing three</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2>Blog</h2>
          <ul>
            <li>
              <a
                title="link to your page"
                aria-label="your label"
                href="/blog/blog-one">Blog one</a
              >
            </li>
            <li>
              <a
                title="link to your page"
                aria-label="your label"
                href="/blog/blog-two">Blog two</a
              >
            </li>
            <li>
              <a
                title="link to your page"
                aria-label="your label"
                href="/blog/blog-three">Blog three</a
              >
            </li>
            <li>
              <a
                title="link to your page"
                aria-label="your label"
                href="/blog/archive">Archive</a
              >
            </li>
            <li>
              <a
                title="link to your page"
                aria-label="your label"
                href="/posts/1">Blog posts</a
              >
            </li>
            <li>
              <a title="link to your page" aria-label="your label" href="/tags"
                >Tag index</a
              >
            </li>
            <li>
              <a
                title="link to your page"
                aria-label="your label"
                href="/tags/ernest">Tag category</a
              >
            </li>
            <li>
              <a
                title="link to your page"
                aria-label="your label"
                href="rss.xml">Rss</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2>Membership</h2>
          <ul>
            <li>
              <a
                title="link to your page"
                aria-label="your label"
                href="/membership/simple">Simple</a
              >
            </li>
            <li>
              <a
                title="link to your page"
                aria-label="your label"
                href="/membership/tiered">Tiered</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2>Uitility pages</h2>
          <ul>
            <li>
              <a
                title="link to your page"
                aria-label="your label"
                href="/infopages/about">About</a
              >
            </li>
            <li>
              <a
                title="link to your page"
                aria-label="your label"
                href="/infopages/terms">Terms</a
              >
            </li>
            <li>
              <a
                title="link to your page"
                aria-label="your label"
                href="/infopages/privacy">Privacy</a
              >
            </li>
            <li>
              <a
                title="link to your page"
                aria-label="your label"
                href="/infopages/dpa">DPA</a
              >
            </li>
            <li>
              <a
                title="link to your page"
                aria-label="your label"
                href="/infopages/cookies">Cookies</a
              >
            </li>
            <li>
              <a
                title="link to your page"
                aria-label="your label"
                href="/infopages/faq">Faq</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2>Forms</h2>
          <ul>
            <li>
              <a
                title="link to your page"
                aria-label="your label"
                href="/forms/login">Log in</a
              >
            </li>
            <li>
              <a
                title="link to your page"
                aria-label="your label"
                href="/forms/signup">Sign up</a
              >
            </li>
            <li>
              <a
                title="link to your page"
                aria-label="your label"
                href="/forms/reset">Password reset</a
              >
            </li>
          </ul>
        </div>
        <div>
          <h2>System</h2>
          <ul>
            <li>
              <a title="link to your page" aria-label="your label" href="/"
                >Overview</a
              >
            </li>
            <li>
              <a
                title="link to your page"
                aria-label="your label"
                href="/system/style-guide">Style guide</a
              >
            </li>
            <li>
              <a
                title="link to your page"
                aria-label="your label"
                href="https://lexingtonthemes.com/legal/license">License</a
              >
            </li>
             <li>
              <a
                title="link to your page"
                aria-label="your label"
                href="https://lexingtonthemes.com/documentation/quick-start/">Documentation</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
