---
// Assets
import { Image } from "astro:assets";
import contact from "@/images/contact.jpeg";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard">
    <div class="grid grid-cols-1 lg:grid-cols-2">
      <div class="lg:order-last">
        <Image
          class="h-64 w-full bg-base-50 object-cover lg:h-[92vh] grayscale"
          src={contact}
          width={1000}
          height={1000}
          alt="#_"
        />
      </div>
      <div
        class="flex flex-col h-full 2xl:max-w-3xl 2xlmx-auto justify-center p-8 lg:p-20"
      >
        <div class="lg:text-balance text-center">
          <Text
            tag="h1"
            variant="display2XL"
            class="text-black text-center text-balance font-serif tracking-tight font-light"
          >
            Contact us!
          </Text>
          <Text
            tag="p"
            variant="textXS"
            class="uppercase text-base-500 font-medium mt-1"
          >
            If you have questions or need any general information, please
            contact us on this points of refference. It will be an honor to help
            you.
          </Text>
        </div>
        <form action="#" method="POST" class="mt-8 flex flex-col gap-4">
          <!-- Name -->
          <div class="flex flex-col gap-y-1">
            <label class="sr-only" for="name">Name</label>
            <input
              type="text"
              name="name"
              id="name"
              required
              aria-required="true"
              aria-describedby="name-error"
              placeholder="Your name"
              class="w-full py-2 h-8 border-t-0 px-0 border-x-0 bg-transparent border-b border-base-300 text-xs focus:outline-none focus:ring-2 focus:ring-base-500 focus:border-base-500 placeholder-base-500"
            />
            <span id="name-error" class="text-red-600 text-sm hidden">
              Please enter your name.
            </span>
          </div>

          <!-- Email -->
          <div>
            <label class="sr-only" for="email">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              autocomplete="emmail"
              required
              aria-required="true"
              aria-describedby="email-error"
              placeholder="Your email"
              class="w-full py-2 h-8 border-t-0 px-0 border-x-0 bg-transparent border-b border-base-300 text-xs focus:outline-none focus:ring-2 focus:ring-base-500 focus:border-base-500 placeholder-base-500"
            />
            <span id="email-error" class="text-red-600 text-sm hidden">
              Please enter a valid email address.
            </span>
          </div>

          <!-- Subject -->
          <div>
            <label class="sr-only" for="subject">Subject</label>
            <input
              type="text"
              name="subject"
              id="subject"
              required
              aria-required="true"
              aria-describedby="subject-error"
              placeholder="Subject"
              class="w-full py-2 h-8 border-t-0 px-0 border-x-0 bg-transparent border-b border-base-300 text-xs focus:outline-none focus:ring-2 focus:ring-base-500 focus:border-base-500 placeholder-base-500"
            />
            <span id="subject-error" class="text-red-600 text-sm hidden">
              Please enter a subject.
            </span>
          </div>

          <!-- Message -->
          <div>
            <label class="sr-only" for="message">Message</label>
            <textarea
              name="message"
              id="message"
              required
              aria-required="true"
              aria-describedby="message-error"
              placeholder="Your message"
              rows="5"
              class="w-full py-2 px-0 border-t-0 border-x-0 bg-transparent border-b border-base-300 text-xs focus:outline-none focus:ring-2 focus:ring-base-500 focus:border-base-500 placeholder-base-500 resize-none"
            ></textarea>
            <span id="message-error" class="text-red-600 text-sm hidden">
              Please enter a message.
            </span>
          </div>

          <!-- Submit Button -->
          <div class="w-full flex">
            <Button size="sm" type="submit" variant="default" class="w-full">
              Send Message
            </Button>
          </div>

          <!-- Optional Link -->
          <div class="flex items-center mt-12 justify-center">
            <Text
              tag="p"
              variant="textXS"
              class="uppercase text-base-500 font-medium mt-1"
            >
              General Inquiries
              <a
                href="mailto:hello@echopodcast.com"
                class="text-black hover:underline"
              >
                hello@example.com
              </a>
            </Text>
          </div>
        </form>
      </div>
    </div>
  </Wrapper>
</section>
