<footer>
  <div class="2xl:max-w-7xl mx-auto p-8 text-zinc-700 text-xs">
    <div
      class="flex-col flex lg:items-center py-6 gap-y-12 items-center justify-between mx-auto"
    >
      <div
        class="flex flex-col lg:flex-row lg:items-center lg:justify-between w-full gap-12 font-serif italic"
      >
        <div>
          <p class="font-medium text-accent-600">Hemingway</p>
          <p class="mt-1 text-sm">
            Designed and built in the Åland Islands by Michael Andreuzza.
          </p>
        </div>
        <nav class="flex-col flex lg:flex-row lg:items-center lg:ml-auto gap-2 font-serif italic">
          <a
            class="hover:text-orange-600 "
            title="link to your page"
            aria-label="your label"
            href="/system/overview">Overview</a
          >
          <a
            class="hover:text-orange-600 "
            title="link to your page"
            aria-label="your label"
            href="/system/style-guide">Styleguide</a
          >
          <a
            class="hover:text-orange-600 "
            title="link to your page"
            aria-label="your label"
            href="https://lexingtonthemes.com/legal/license">License</a
          ><a
            class="hover:text-orange-600 "
            title="link to your page"
            aria-label="your label"
            href="https://lexingtonthemes.com/documentation/quick-start/">Documentation</a
          ><a
            class="hover:text-orange-600 "
            href="https://www.instagram.com/seayune_/">Instagram</a
          >
          <a
            class="hover:text-orange-600 "
            title="link to your page"
            aria-label="your label"
            href="https://www.youtube.com/@seayune">Youtube</a
          >
        </nav>
      </div>
    </div>
  </div>
</footer>
