<footer class="w-full max-w-[85%] mx-auto ...">
  <div class="2xl:max-w-7xl mx-auto p-8 text-zinc-700 text-xs">
    <div
      class="flex-col flex lg:items-center py-6 gap-y-12 items-center justify-between mx-auto"
    >
      <div
        class="flex flex-col lg:flex-row lg:items-center lg:justify-between w-full gap-12 font-serif"
      >
        <div>
          <p class="font-medium text-accent-600">© seayune 2025</p>
          <p class="mt-1 text-sm">
            Designed and built in the Kowloon Peninsula by Arthur Siyun Li.
          </p>
        </div>
        <nav class="flex-col flex lg:flex-row lg:items-center lg:ml-auto gap-2 font-serif">
          <a
            class="hover:text-accent-600 "
            href="https://www.instagram.com/seayune_/">Instagram</a
          >
          <a
            class="hover:text-accent-600 "
            href="https://www.youtube.com/@seayune">Youtube</a
          >
        </nav>
      </div>
    </div>
  </div>
</footer>