<section>
  <div class="p-8 text-zinc-700 text-xs flex flex-col w-full 2xl:max-w-7xl mx-auto">
    <div class="grid gird-cols-1 lg:grid-cols-2 gap-12">
      <a href="/" class="font-medium text-3xl italic font-serif text-accent-600"> Hemingway</a>

      <div class="flex flex-col lg:ml-auto gap-y-2">
        <a
          class="hover:text-accent-600"
          title="link to your page"
          aria-label="your label"
          href="/">Overview</a
        >
        <a
          class="hover:text-accent-600"
          title="link to your page"
          aria-label="your label"
          href="/system/style-guide">StyleGuide</a
        >
        <a
          class="hover:text-accent-600"
          title="link to your page"
        aria-label="your label"
          href="https://buy.polar.sh/polar_cl_U8Mtq7VFohIH4lm7cuCgtyfuB5I0aIhkb6WP0SZGSCA"
          >Buy Hemingway</a
        >
      </div>
    </div>
  </div>
</section>
