<section>
  <div class="edge-alignment mx-auto p-8 text-zinc-700 text-sm flex flex-col w-full 2xl:max-w-7xl">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12">
        <a href="/" class="block w-10 h-10 hover:opacity-80 transition-opacity">
        <img 
          src="/images/logo.png" 
          alt="Arthur Siyun Li" 
          class="h-10 w-auto"  // Adjust height as needed
          width="120"  // Approximate width (helps with layout shift)
          height="40"
          loading="lazy"
        >
      </a>
      <div class="flex flex-col lg:items-end gap-y-1 font-serif text-sm">
        <a
          class="hover:text-accent-600"
          href="/">About</a
        >
        <a
          class="hover:text-accent-600"
          href="/blog-one">Listen</a
        >
        <a 
          class="hover:text-accent-600"
          href="/blog-two">Writing</a 
        >
        <a 
          class="hover:text-accent-600"
          href="/blog-three">Gamedev</a 
        >
        <a 
          class="hover:text-accent-600"
          href="/blog-three">Contact</a 
        >
      </div>
    </div>
  </div>
</section>